 params {
     cache = 'lenient'
    // undocumented option to automatically remove work dir
//    cleanup = true
 }

process {
    withName:CLASSIFY_READS {
        container = 'romanhaa/xenocell:1.0'
    }
	withName:EXTRACT_GRAFT_BARCODES {
        container = 'romanhaa/xenocell:1.0'
    }
    withName:EXTRACT_HOST_BARCODES {
        container = 'romanhaa/xenocell:1.0'
    }
}

executor {
    name = 'local'
    // queueSize = 8
}

singularity {
	docker.enabled = false
	singularity.enabled = true
	podman.enabled = false
	shifter.enabled = false
	charliecloud.enabled = false
	singularity.autoMounts = true
	singularity.enabled = true
	cacheDir = '/data/s_cache'
	autoMounts = true
    env.PYTHONNOUSERSITE = 1
    engineOptions = '--debug'
    //runOptions = '-B /mnt:/mnt'
    runOptions = '-B /data:/data'
}
